pre {
	background-color: lightgrey;
	padding:20px;
}
@mixin spans($size) {
	@for $i from 2 through 12 {
		.col-#{$size}-#{$i} {
			grid-column: span $i;
		}
	}
}

.container {
	display:grid;
	grid-column-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(240,1fr));
	grid-row-gap: 50px;
	&.xs {
		grid-template-columns: repeat(auto-fit,minmax(1fr,1fr));
		@include spans("xs");
	}
	&.sm {
		grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
		@include spans("sm");
	}
	&.md {
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		@include spans("md");
	}
	&.lg {
		grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
		@include spans("lg");
	}
}
