pre {
	background-color: lightgrey;
	padding:20px;
}

@mixin spans($size) {
	@for $i from 1 through 12 {
		.col-#{$size}-#{$i} {
			grid-column: span $i;
		}
	}
}
$col: 12;
.container {
	$gap: 5;
	display:grid;
	grid-column-gap: $gap+px;
	grid-template-columns: repeat($col, 1fr);
	grid-row-gap: 50px;
	@include spans("xs");
}

@media (min-width: 576px){
	.container {
		$gap: 10;
		grid-column-gap: $gap+px;
		@include spans("sm");
	}
}
@media (min-width: 992px){
	.container {
		$gap: 15;
		grid-column-gap: $gap+px;
		@include spans("md");
	}
}
@media (min-width: 1200px){
	.container {
		$gap: 40;
		grid-column-gap: $gap+px;
		@include spans("lg");
	}
}


