/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	margin: 0px;
}

$grid_gutter: 30px;
$grid_cols: 12;
$screen_viewport_xs: 0px;
$screen_viewport_sm: 600px;
$screen_viewport_md: 768px;
$screen_viewport_lg: 992px;
$screen_viewport_xl: 1260px;

$grid_arr: ((xs, $screen_viewport_xs),
   (sm, $screen_viewport_sm),
   (md, $screen_viewport_md),
   (lg, $screen_viewport_lg),
   (xl, $screen_viewport_xl));

.fxrow {
	display: flex;
	flex-flow: row wrap;
	margin-left: $grid_gutter * -1;
	// justify-content: ;
	// margin-left:($grid_gutter / 2)*-1;
	/*
	margin-right:($grid_gutter / 2)*-1; */
	// flex-direction: row;
	// flex-wrap: wrap;


	@each $label,
	$breakpoint in $grid_arr {
		@media (min-width: #{$breakpoint}) {
			@for $i from 1 through $grid_cols {
				>.col-#{$label}-#{$i} {
					$wp: (($i/$grid_cols)*100%);
					width: calc(#{$wp} - #{$grid_gutter});
					// padding:$grid_gutter / 2;
					padding-left:$grid_gutter;
					padding-bottom:$grid_gutter;

					@for $y from 0 through $grid_cols {
						@if $y == 0 {
							&.col-#{$label}-offset-x {
								margin-left: 0px;
							}
						} @else {
							&.col-#{$label}-offset-#{$y} {
								margin-left: ($y/$grid_cols)*100%;
							}
						}
               }
				}
			}
		}
	}
}

.gdrow {
   display: grid;
   grid-template-columns: repeat(#{$grid_cols}, 1fr);
   grid-gap: $grid_gutter;

   @each $label,
   $breakpoint in $grid_arr {
      @media (min-width: #{$breakpoint}) {
         @for $i from 1 through $grid_cols {
            >.col-#{$label}-#{$i} {
               grid-column: span #{$i};

               @for $y from 0 through $grid_cols {
						@if $y == 0 {
							&.col-#{$label}-start-x {
								grid-column: span #{$i};
							}
						} @else {
							&.col-#{$label}-start-#{$y} {
								grid-column: #{$y} / span #{$i};
							}
						}
               }
            }
         }
      }
   }
}
